<p-card [style]="{ width: '25rem', overflow: 'hidden' , height: '100%'}">
  <ng-template #header>
    <!--<img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />-->
  </ng-template>
  <ng-template #title> {{data.name}} </ng-template>
  <ng-template #subtitle> {{data.sub}} </ng-template>
  <p>
    <ng-content *ngFor="let item of data.desc">
      {{item}}
      <br />
    </ng-content>
  </p>
  <a [href]="data.link.routerlink" target="_blank" *ngIf="data.link.newSite">Link</a>
  <a [routerLink]="data.link.routerlink" *ngIf="!data.link.newSite">Link</a>
  <!--<ng-template #footer>
    <div class="flex gap-4 mt-1">
      <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
      <p-button label="Save" class="w-full" styleClass="w-full" />
    </div>
  </ng-template>-->
</p-card>
